.form {
    text-align: center;
}

button {
    margin: 1rem 0;
    border: none;
    font-weight: bold;
    font-size: large;
    color: white;
    height: 55px;
    width: 240px;
    text-align: center;
    background: rgb(7,185,51);
    background: linear-gradient(90deg, rgba(7,185,51,1) 0%, rgba(46,199,61,1) 36%, rgba(54,230,195,1) 100%);
}

.edit {
   background-color: deepskyblue;
}

.delete {
    background-color: red;
    margin: 1rem 0;
    border: none;
    font-weight: bold;
    font-size: large;
    color: white;
    height: 55px;
    width: 240px;
    text-align: center;
}

.search {
    margin-bottom: 0;
}

label {
    font-size: larger;
}