header {
    background-color: #7FD700;: #333;
    padding: 30px;
    text-align: center;
}

h1 {
    background-color: #D9ECBA;
    padding: 25px;
    border-radius: 10px;
    border: 4px solid #8f9e79;
    margin: 10px;
}

.border {
    background-color: #D9ECBA;
    padding: 1px;
    border-radius: 10px;

}

header {
    margin-bottom: 3rem;
}