header {
    padding: 10px 30px;
    text-align: left;
    margin-bottom: 20px;
    background: rgb(82,187,25);
    background: linear-gradient(90deg, rgba(82,187,25,1) 0%, rgba(73,228,64,1) 53%, rgba(45,203,20,1) 100%);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h1 {
    margin: 0;
    width: fit-content;
}

a {
    color: #222222;
    text-decoration: none;
}

.buttons-header {
    text-align: right;
}

.header-button {
    margin: 1rem 0;
    border: 2px solid white;
    font-weight: bold;
    font-size: large;
    color: white;
    height: 3rem;
    width: 14rem;
    border-radius: 0;
    text-align: center;
    background: transparent;
    /*background: rgb(7,185,51);*/
    /*background: linear-gradient(90deg, rgba(7,185,51,1) 0%, rgba(46,199,61,1) 36%, rgba(54,230,195,1) 100%);*/
}

.header-button:hover {
    background: white !important;
    color: #222222;
}