.buttons {
    width: 50%;

}
.meter {
    width: 50%;

}

.background {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    padding: 50px;

}

.button {
    background-color: #d5e7e7;
    border: 2px solid #42606d;
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
    margin-top: 15px;
}

.button:hover {
    background-color: #95e0e9;

}

#admin {
    color: #e13e1a;
}

