.buttons {
    width: 50%;
}

.meter {
    width: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.background {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    padding: 50px;
    height: 520px;
    width: fit-content;

}

button {
    margin: 1rem 0;
    border: none;
    font-weight: bold;
    font-size: x-large;
    color: white;
    height: 3.5rem;
    width: 16rem;
    border-radius: 10px;
    text-align: center;
    background: rgb(7,185,51);
    background: linear-gradient(90deg, rgba(7,185,51,1) 0%, rgba(46,199,61,1) 36%, rgba(54,230,195,1) 100%);;
}

#admin {
    color: #e13e1a;
}

.container {
    align-items: center;
}

@media only screen and (max-width: 850px) {
    html {
        background-color: white;
    }
    .container {
        display: block;
    }

    .meter, .buttons, .background {
        width: auto;
    }

    .speedometer-container {
        margin: 0 auto;
    }
    
    .background {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .meter .background {
        margin: 0;
        padding: 3rem 0 0 0;
        height: auto;
    }

    .buttons .background {
        position: absolute;
        width: 100%;
        margin-top: -7rem;
        z-index: 11;
    }

    .background .button {
        margin: 0.5rem 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .meter, .buttons, .background {
        width: auto;
    }

    .speedometer-container {
        margin: 0 auto;
    }
    
  }