@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&family=Lato&family=Roboto&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.button {
    background-color: #d5e7e7;
    border: 2px solid #42606d;
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
    margin-top: 15px;
}


